<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    {% if numRosters > 0 %}
      {% if numRosters > 1  or numEmptyCourses > 0 %}
        <strong> Courses with Students: {{ numRosters }}</strong>
      {% endif %}
      {% for roster in rosters %}
        <p>
          <strong> Roster for Event {{ roster.evtID }}<br>{{ roster.evtName }}</strong>
          <table border="1">
            <tr>
              <th>Students Full Name</th>
              <th>Students Birthday</th>
              <th>&nbsp Age &nbsp</th>
              <th>Gender</th>
              <th>Emergency Phone</th>
              <th>Parents Full Name</th>
              <th>Parents EMail</th>
              <th>Ticket Name</th>
              <th>Ticket<br>Price</th>
              <th>Ticket Start Date</th>
              <th>Ticket End Date</th>
              <th>Registration Status</th>
            </tr>
            {% for student in roster.studentData %}
              <tr>
                <td>{{ student.studentName }}</td>
                <td>{{ student.studentDOB }}</td>
                <td>{{ student.studentAge }}</td>
                <td>{{ student.studentGender }}</td>
                <td>{{ student.studentPhone }}</td>
                <td>{{ student.ParentName }}</td>
                <td>{{ student.ParentEMail }}</td>
                <td>{{ student.TicketName }}</td>
                <td>{{ student.TicketPrice }}</td>
                <td>{{ student.TicketStartTxt }}</td>
                <td>{{ student.TicketEndTxt }}</td>
                <td>{{ student.regStatus }}</td>
              </tr>
            {% else %}
            {% endfor %}
            
          </table>
          </br>
          {{roster.emailList}}
        </p>
      {% else %}
      {% endfor %}
    {% endif %}
    </br>
    </br>
    {% if numEmptyCourses > 0 %}
      {% if numEmptyCourses > 1  or numRosters > 0 %}
        <strong> Empty Courses: {{ numEmptyCourses }}</strong>
      {% endif %}
      <p>
      {% for course in emptyCourses %}
          <strong> Empty Event {{ course.evtID }} &nbsp &nbsp ({{ course.evtName }})</strong>
        </br>
      {% else %}
      {% endfor %}
      </p>
    {% endif %}
  </body>
</html>

