body {
    font-size: 18px;
    line-height: 1.6;
    max-width: 650px;
    margin: 40px auto;
    padding: 0 10px;
    color: #444;
}
h1, h2, h3 {
    line-height: 1.2;
}
.listItem{
    /*color: blue;*/
}
table{
    margin: 10px;
}
td{
    margin: 30px;
}
