<!-- See https://mozilla.github.io/nunjucks/templating.html for templating reference -->
<ul>
{% for event in results %}
  <li><h2>{{ event.title.rendered }}</h2>
      <p>{{event.date | dateformat}}</p>
  </li>
{% else %}
  <li>This would display if the 'results' collection were empty</li>
{% endfor %}
</ul>
